<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ManagedFusion.Build.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ManagedFusion.Build.Properties.Settings>
            <setting name="JavaExeLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="YuiCompressorJarLocation" serializeAs="String">
                <value>C:\development\tools\yuicompressor-2.4.2.jar</value>
            </setting>
        </ManagedFusion.Build.Properties.Settings>
    </applicationSettings>
</configuration>